/* IMPORTING FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@1&family=Ubuntu&display=swap");

/* CSS VARIABLES */
:root {
  --font-1: "Rubik", sans-serif;
  --font-2: "Ubuntu", sans-serif;
  --theme-red: #d21637;
  --theme-grey: #e5e6ef;
  --theme-dark: #15161d;
  --theme-white: white;
}

/* RESETING CSS */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar {
  position: sticky;
  top: 0;
  height: 10vh;
  display: flex;
  width: 100%;
  background-color: var(--theme-dark);
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.name {
  font-family: var(--font-1);
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 4rem;
  letter-spacing: 2px;
  color: var(--theme-red);
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.nav-items {
  list-style: none;
  margin-right: 3rem;
  font-family: var(--font-2);
  font-weight: bolder;
  cursor: pointer;
  color: var(--theme-white);

}

.nav-items a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in;
}

.nav-items a:hover {
  color: var(--theme-red);
}

/* HAMBURGER */
.burger{
  position: absolute;
  top: 17px;
  right: 3%;
  display: none;
  padding: 5px;
  border-radius: .5rem;
  border: 2px solid white;
}
.line{
  width: 20px;
  height: 2px;
  margin: 4px;
  background: white;
}

/* INTRO SECTION */
.intro {
  min-height: 90vh;
  width: 100%;
  display: flex;
  background-color: var(--theme-grey);
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Content Heading with animation */
.content h1 {
  position: absolute;
  font-family: var(--font-2);
  text-align: center;
  top: 12rem;
  width: 48%;
  font-size: 4rem;
  opacity: 0;
  animation: heading 0.3s 1 linear;
  animation-delay: 1s;
}
@keyframes heading {
  0% {
    opacity: 0;
    top: 15rem;
  }
  50% {
    opacity: 0.5;
    top: 13rem;
  }
  100% {
    opacity: 1;
    top: 12rem;
  }
}
.content p {
  position: absolute;
  top: 24rem;
  font-family: var(--font-1);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  width: 23vw;
  opacity: 0;
  animation: para 0.4s 1 linear;
  animation-delay: 1.3s;

}
@keyframes para {
  0% {
    opacity: 0;
    top: 28rem;
  }
  50% {
    opacity: 0.5;
    top: 26rem;
  }
  100% {
    opacity: 1;
    top: 24rem;
  }
}

.order-btn {
  position: absolute;
  top: 35rem;
  width: 10vw;
  height: 7vh;
  font-family: var(--font-1);
  font-size: 1.3rem;
  background: var(--theme-red);
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0;
  animation: button 0.4s 1 linear;
  animation-delay: 1.7s;
  transition: background 0.2s ease-out;
}
@keyframes button {
  0% {
    opacity: 0;
    top: 39rem;
  }
  50% {
    opacity: 0.5;
    top: 37rem;
  }
  100% {
    opacity: 1;
    top: 35rem;
  }
}

.order-btn:hover {
  background-color: var(--theme-dark);
  color: var(--theme-red);
}
/* IMAGE */
.intro-img {
  width: 50%;
  display: flex;

  justify-content: center;
  align-items: center;
}
.intro-img img {
  width: 44vw;
}

/* OUR SERVICES SECTION */
.services {
  height: 100vh;
  background: var(--theme-grey);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services h1 {
  font-family: var(--font-2);
  font-size: 4rem;
  font-weight: bolder;
  margin-top: 1rem;
}
.boxes {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background: red; */
  margin-top: 5rem;
}
.service-box {
  height: 50vh;
  width: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 3px 3px 20px rgb(188, 188, 188);
  border-radius: 2rem;
  padding: 2rem;
  transition: background 0.2s ease-in;
}

.service-box:hover {
  background: var(--theme-red);
}

.service-box img {
  width: 20%;
}

.service-box h1 {
  margin-top: 1rem;
  font-family: var(--font-2);

  font-weight: bolder;
  font-size: 2rem;
}

.service-box p {
  text-align: center;
  font-size: 1.3rem;
  font-family: var(--font-1);
  font-weight: bold;
  margin-top: 2rem;
  width: 17vw;
}

/* ABOUT  SECTION */
.about {
  height: 100vh;
  width: 100%;
  background: var(--theme-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.about h1 {
  font-family: var(--font-2);
  font-size: 3rem;
  margin-top: 6rem;
}

.about-content {
  width: 100%;
  height: 75%;
  /* background: red; */
  display: flex;
  justify-content: space-between;
}

.about-content p {
  width: 50%;
  font-family: var(--font-1);
  font-size: 1.6rem;
  margin-left: 29px;
  text-align: center;
  margin-top: 1rem;
}

.about-image {
  width: 40%;
  height: 100%;
}
.about-content img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  margin-top: -1rem;
}

/* CONTACT US SECTION */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: var(--theme-grey);
}

.contact h1 {
  font-family: var(--font-2);
  font-size: 3rem;
  margin-top: 6rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 2rem;
  width: 100%;
  height: 70%;
}

.contact-form input,
.contact-form textarea {
  height: 7vh;
  width: 59%;
  border-radius: 0.6rem;
  outline: none;
  border: 2px solid transparent;
  padding-left: 3rem;
  font-family: var(--font-1);
  font-size: 1.2rem;
  transition: all 0.2s ease-out;
}

.contact-form textarea {
  padding-top: 1rem;
  height: 30vh;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: black;
}
.contact-form input:focus,
.contact-form textarea:focus {
  background-color: var(--theme-red);
  color: black;
}
.contact-form button {
  height: 6vh;
  color: white;
  width: 9vw;
  background: var(--theme-dark);
  border: none;
  outline: none;
  border-radius: 0.3rem;
  font-family: var(--font-1);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

/* Footer */
footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-dark);
  color: white;
}
footer p {
  font-family: var(--font-2);
  font-size: 1.1rem;
}


